<section>
  <header>
    <h2>Stocks</h2>
  </header>
  <article>
    <p>
      Go to <a href="#" v-on:click="routeToHello">Hello</a>
    </p>

    <div>
      <label for="frequency">Set update frequency</label>
      <input name="frequency" v-model="interval" v-on:change="intervalChanged" placeholder="Set update frequency">
    </div>

    <table style="margin-top: 25px;">

      <tr v-for="quote in quotes">
        <td>{{ quote.Name }}</td>
        <td>{{ quote.Ask }}</td>
        <td>{{ quote.Change_PercentChange }}</td>
      </tr>
    </table>
  </article>
</section>
